In [2]:
import numpy as np 
import pandas as pd

In [3]:
df=pd.read_csv("C:\\Users\\ykmi1\\Downloads\\Companies Details.csv")

csv,text,tsv
comma separted values 
tab separted values

In [4]:
df.head(5)

,Role,Company,Location,Mail ID,Contact No
0,Analy,Sutherland Global Services,"Balaji Nagar, Chennai",pa.narasimhan@sutherlandglobal.com,"044 4391 7884 , +91-44-7101-7886"
1,Analy,Cholamandalam Investment and Finance company,"Guindy, Chennai",corporatecommunications@ chola.murugappa.com,"044 - 40906114 , 04439873000"
2,Analy,Societe generale,"Manapakkam, Chennai",gsc-cs-compliance@socgen.com,91 4466027000
3,Analy,Scope e-knowledge center,"Nandambakkam , Chennai",stm-ks@scopeknowledge.com,91 4424314201
4,Analy,Hexwawares Technologies,"SIPCOT IT Park , Chennai",marketing@hexaware.com,"91 02267919595 , 044-47451000"

In [5]:
df.tail(5)

,Role,Company,Location,Mail ID,Contact No
55,PY,Appadore,"Cochin, Kerala",info@appadore.com,NaN
56,PY,Newt global,"Gandhi Salai, Chennai",info@newtglobal.com,"044 6740 2999 , 972 887 3159"
57,PY,Valiant Systems,"Porur, Chennai",info@valiantsystems.com,"96000 44464, 91 99401 81721"
58,PY,Surya Informatics,"Ashok Nagar, Chennai",careers@suryainformatics.com,044 4203 3355
59,PY,Logic Soft,"Gopalapuram, Chennai",shrayasr@logicsoft.co.in,044 4208 9492 / 93

In [6]:
df.sample(4)

,Role,Company,Location,Mail ID,Contact No
8,Analy,Ramco systems,"Tharamani, Chennai",contact@ramco.com,"91 44 2235 4510 , 91 44 6653 4000"
24,DA,Inautix Technologies,"Taramani,Chennai","CAREERS@INAUTIX.COM , contact@connect2India.com",044 2254 6000
34,DA&Vis,Deloitte,"T-nagar,Chennai",usindiaogc@deloitte.com,91 44 6688 5000
5,Analy,Latent view Analytics,"Tharamani, Chennai",info@latentview.com,044 4344 1700

In [7]:
df.shape

(60, 5)

In [8]:
f=df.sample(4)["Location"]

In [9]:
ML = 0
DS = 0
for i in df["Role"]:
    if i == "DS&DA":
        DS+=1
    elif i == "DA&ML":
        ML+=1
print(ML)
print(DS)

4
6

In [10]:
arr=np.array(f)

In [11]:
arr

array(['Tharamani, Chennai', 'Sholinganallur, Chennai', nan,
       'Perungudi, OMR, Chennai'], dtype=object)

In [12]:
"C:\Users\ykmi1\OneDrive\Desktop\Iris.csv"

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (1368525154.py, line 1)

In [ ]:
df=pd.read_csv(r"C:\Users\ykmi1\OneDrive\Desktop\Iris.csv")

In [ ]:
df.sample(10)

In [19]:
df['Location'].value_counts()

Location
Sholinganallur, Chennai              9
Tharamani, Chennai                   8
Perungudi, Chennai                   4
Guindy, Chennai                      3
T. Nagar, Chennai                    2
Manapakkam,Chennai                   2
Nungambakkam, Chennai                2
Porur, Chennai                       2
Balaji Nagar, Chennai                1
Navalur, Chennai                     1
Perungudi, OMR, Chennai              1
EPIP Zone, Bengaluru                 1
Brookefield, Bengaluru               1
Saligramam, Chennai                  1
T-nagar,Chennai                      1
 Aminjikarai, Chennai                1
Tambaram, Chennai                    1
Cochin, Kerala                       1
Gandhi Salai, Chennai                1
Ashok Nagar, Chennai                 1
Velachery, Chennai                   1
Taramani,Chennai                     1
Karapakkam, Chennai                  1
Pune                                 1
Vallancherry, Taluk, Chengalpattu    1
Royapettah, Chennai                  1
Ramapuram, Chennai                   1
Perungudi, Guindy,  Chennai          1
Perungalathur Chennai                1
Mylapore, Chennai                    1
Hyderabad, Telangana                 1
SIPCOT IT Park , Chennai             1
Nandambakkam , Chennai               1
Manapakkam, Chennai                  1
Gopalapuram, Chennai                 1
Name: count, dtype: int64

In [ ]:
df['SepalWidthCm'].max()

In [14]:
df.describe()

,Role,Company,Location,Mail ID,Contact No
count,60,60,59,59,57
unique,13,60,35,59,57
top,DA,Sutherland Global Services,"Sholinganallur, Chennai",pa.narasimhan@sutherlandglobal.com,"044 4391 7884 , +91-44-7101-7886"
freq,18,1,9,1,1

In [ ]:
df.describe(include='all')

slicing in pandas 
lock=labled based
ilock="i" stds for index based

In [ ]:
df

In [ ]:
df.loc[77:,'Species']

In [ ]:
df.loc[77:,['Species','PetalLengthCm']]

In [ ]:
df.loc[77:,['Species','SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm','Species']]

In [ ]:
df.iloc[77:,2:4]

In [ ]:
df

In [ ]:
df.rename(columns={'Company':'MNC'},inplace = True)

In [ ]:
df.isnull().sum()

In [ ]:
df['Role'].count()

In [ ]:
ee=df.dropna()

In [ ]:
ee.shape

In [ ]:
df.shape